<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Other{% endblock title %}</title>
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    {% endblock corecss %}

</head>
<body>
    {% block content %} {% endblock content %}
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Django Learner</li>
        </ul>
    </nav>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    {% block content3 %} {% endblock content3 %}
    {% block content1 %} {% endblock content1 %}
    {% block content2 %} {% endblock content2 %}
    <script scr="{% static 'core/js/jQuery.js' %}"></script>
    <script scr="{% static 'core/js/popper.js' %}"></script>
    <script scr="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>