<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <div>
        <a href="{% url 'detail' 1 %}">Student1</a>
        <a href="{% url 'detail' 2 %}">Student2</a>
        <a href="{% url 'detail' 3 %}">Student3</a>
        <hr>
        <a href="{% url 'subdetail' 1 5 %}">Student5</a>
        <a href="{% url 'subdetail' 2 6 %}">Student6</a>
        <a href="{% url 'subdetail' 3 7 %}">Student7</a>
    </div>
</body>
</html>